<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
<script src="/assets/app.js"></script>
<base href="/" />
</head>
<body data-ng-app="SecretMagicApp">
<pre id="grad1">

                                 ,|
                               //|                              ,|
                             //,/                             -~ |
                           // / |                         _-~   /  ,
                         /'/ / /                       _-~   _/_-~ |
                        ( ( / /'                   _ -~     _-~ ,/'
                         \~\/'/|             __--~~__--\ _-~  _/,
                 ,,)))))));, \/~-_     __--~~  --~~  __/~  _-~ /
              __))))))))))))));,>/\   /        __--~~  \-~~ _-~
             -\(((((''''(((((((( >~\/     --~~   __--~' _-~ ~|
    --==//////((''  .     `)))))), /     ___---~~  ~~\~~__--~
            ))| @    ;-.     (((((/           __--~~~'~~/
            ( `|    /  )      )))/      ~~~~~__\__---~~__--~~--_
               |   |   |       (/      ---~~~/__-----~~  ,;::'  \         ,
               o_);   ;        /      ----~~/           \,-~~~\  |       /|
                     ;        (      ---~~/         `:::|      |;|      < >
                    |   _      `----~~~~'      /      `:|       \;\_____//
              ______/\/~    |                 /        /         ~------~
            /~;;.____/;;'  /          ___----(   `;;;/
           / //  _;______;'------~~~~~    |;;/\    /
          //  | |                        /  |  \;;,\
         (<_  | ;                      /',/-----'  _>
          \_| ||_                     //~;~~~~~~~~~
              `\_|                   (,~~
                                      \~\
                                       ~~
</pre>
<a data-ui-sref="index">Unicorn Grove</a>
<main data-ui-view>
</main>
</body>
</html>
