body{
  background-color: black;
  color:white
}
a, a:visited{
  font-size:2em;
  color:white;
  font-weight:bold;
}
a:hover, .rainbow:hover {
  animation-name: pulse_animation;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;;
}
@keyframes pulse_animation {
  0% {text-shadow:2px 2px deeppink;}
  10% {text-shadow:2px 2px darkorange;}
  20% {text-shadow:2px 2px gold;}
  30% {text-shadow:2px 2px yellow;}
  40% {text-shadow:2px 2px green;}
  50% {text-shadow:2px 2px lightblue;}
  60% {text-shadow:2px 2px turquoise;}
  70% {text-shadow:2px 2px navy;}
  80% {text-shadow:2px 2px purple;}
  90% {text-shadow:2px 2px violet;}
  100% {text-shadow:2px 2px pink;}
}
