<input type="text" data-ng-model="IndexVm.babyUnicorn.name">
<input type="text" data-ng-model="IndexVm.babyUnicorn.magical_power">
<input type="text" data-ng-model="IndexVm.babyUnicorn.wings_type">
<input type="text" data-ng-model="IndexVm.babyUnicorn.nemesis">
<input type="color" data-ng-model="IndexVm.babyUnicorn.color1">
<input type="color" data-ng-model="IndexVm.babyUnicorn.color2">
<input type="color" data-ng-model="IndexVm.babyUnicorn.color3">
<input type="color" data-ng-model="IndexVm.babyUnicorn.color4">
<input type="color" data-ng-model="IndexVm.babyUnicorn.color5">
<button data-ng-click="IndexVm.unigenesis()">🦄 ÜniGene§i§ 🦄</button>
